<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEAT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/position.css') }}">
    <script src="{{ url_for('static', filename='js/user/position.js') }}"></script>
    <script src="D:\ManageFlight\ManageFlightApp\static\js\home\listflight.js"></script>
</head>
<body style="background-color: #7BCAFC;">
<header style="margin: -50px">
    {% include 'user/layout/header.html' %}
</header>



<div style="padding:50px"></div>
<div class="row" id="busi-seat">
    <div class="seat-info" style="">
        <div class="row">
            <div class="seat">
                <i class="fa fa-square seat-icon seat-icon-pip"
                   aria-hidden="true"></i>
            </div>
            <div class="info">
                <h6 style="text-align: center; margin: 0px">TABLE</h6>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <i class="fa fa-circle seat-icon seat-icon-disable"
                   aria-hidden="true"></i>
            </div>
            <div class="info">
                <h6 style="text-align: center; margin: 0px">GHẾ ĐÃ ĐƯỢC CHỌN</h6>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <i class="fa fa-circle seat-icon seat-icon-select"
                   aria-hidden="true"></i>
            </div>
            <div class="info">
                <h6 style="text-align: center; margin: 0px">GHẾ ĐANG CHỌN</h6>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <i class="fa fa-circle seat-icon seat-icon-empty"
                   aria-hidden="true"></i>
            </div>
            <div class="info">
                <h6 style="text-align: center; margin: 0px">GHẾ TRỐNG</h6>
            </div>
        </div>
    </div>
    <div class="row" style="margin:200px">
        <div class="col-6">
             <nav aria-label="...">
                  <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
                 <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                </ul>
            </nav>
        </div>

          <div class="col-6">
             <nav aria-label="...">
                  <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>